
  .hidden{
    display: none;
  }

.todo-input
   {
    input {
      width: 70%;
      height: 60px;
      border-radius: 10px;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #555;
      outline: none;
      background: white;
      border: 1px solid #DDD;
      outline: none;
      box-shadow: 0 0 5px #333;
    }
  }
  .todo-list{
  	    margin-top: 3%;
  	    padding-left: 15%;
    		padding-right: 15%;
  }
  .todo-div{

    .todo-title{
      font-size: 18px;
    }
    button{
      background: transparent;
      border: none;
    }
    .comp{
      i{
       color: #7FFF00;
      }
    }
    .delete{
      visibility: hidden;
      i{
        color: #FF1919;
      }
    }
    &:hover .delete{
      visibility : visible;
    }
    .edit{
      display:none;
    }
    .editing{
    display:block;
  }
  .completed{
    color: #d9d9d9;
    text-decoration: line-through;
  }


}




